/* reset  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* typo  */
body{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to bottom,  #099981 0%,#099981 20%,#c5c5c5 20%,#c5c5c5 100%);
}
.main-container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    width: 80vw;
    height: 90vh;
    background-color: black;
    display: flex;
}
/* sidebar  */
.sidebar{
    height: 100%;
    width: 35%;
}
/* header-sidebar  */
.header-sidebar{
    background-color: lightgrey;
    height: 20%;
    width: 100%;
}
/* user header sidebar  */
.user{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.user-info{
    display: flex;
    padding: .625rem;
    align-items: center;
}
.user-info img{
    width: 2.5rem;
    border-radius: 50%;
    margin-right: .3125rem;
}
.user-button{
    margin-right: .3125rem;
}
.user-button button{
    background-color: lightgrey;
    border-style: none;
    margin: 0 .3125rem;
    color: gray;
}
/* nonotifications sidebar  */
.notifications{
    background-color: lightskyblue;
    display: flex;
    align-items: center;
    padding: .625rem;
}
.notifications-button button{
    font-size: 1.5rem;
    color: lightskyblue;
    border-radius: 50%;
    padding: .625rem;
    border: white;
    margin-right: .9375rem;
}
/* search sidebar  */
.search-sidebar{
    background-color: white;
    height: 5%;
    width: 100%;
}
.search-sidebar{
    display: flex;
    align-items: center;
    padding: 0 .625rem;
}
.search-sidebar button{
    background-color: white;
    border-style: none;
    padding: .125rem;
}
.search-sidebar input{
    display: flex;
    flex-grow: 1;
}
/* contacts sidebar  */
.contacts{
    background-color: white;
    height: 75%;
    width: 100%;
    overflow: auto;
}
.contact-container{
    display: flex;
    padding: .625rem;
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
}
.contact-img img{
    width: 2.5rem;
    border-radius: 50%;
    margin-right: .625rem;
}
.contact-data{
    margin: 0 auto 0 0;
}
.contact-time{
    color: grey;
}
/* chat  */
.container-chat{
    width: 65%;
    height: 100%;
}
/* header chat  */
.header-chat{
    background-color: lightgrey;
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    padding: .625rem;
}
.chat-contact-data{
    margin: 0 auto 0 .625rem;
}
.chat-contact-data p{
    color: grey;
}
.chat-contact-img img{
    width: 2.5rem;
    border-radius: 50%;
}
.chat-contact-button button{
    border-style: none;
    background-color: lightgrey;
    color: grey;
    margin: 0 .3125rem;
}
/* main chat  */
.chat{
    background-image: url(../img/mine.jpg);
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1.25rem 2.5rem;
    overflow: auto;
}
.sent{
    background-color: lightgreen;
    padding: .625rem 1.25rem 0 1.25rem;
    margin: .625rem;
    border-radius: .625rem;
    margin-left: 55%;
    display: flex;
    flex-direction: column;
}
.received{
    background-color: white;
    padding: .625rem 1.25rem 0 1.25rem;
    border-radius: .625rem;
    margin-right: 55%;
    display: flex;
    flex-direction: column;
}

.chat-time{
    padding: 0;
    margin-left: auto;
    color: gray;
}
/* main footer  */
.footer-chat{
    background-color:lightgrey;
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 1.25rem;
}
.footer-chat button{
    background-color: lightgrey;
    border-style: none;
    color: grey;
    font-size: 1.25rem;
    
}
.new-message{
    display: flex;
    flex-grow: 1;
}
.new-message input{
    height: 1.875rem;
    display: flex;
    flex-grow: 1;
}
.emoji{
    margin-right: 1.25rem;
}
.microphone{
    margin-left: 1.25rem;
}